{% extends "mySite/base.html" %}

{% load static tailwind_tags i18n %}

{% block title %}bench list{% endblock %}

{% block content %}
  <div class="py-4">
    <hr>
    <br>
    <div class="container mx-auto flex justify-between items-center">
      <h2 class="text-2xl">Список скамеек</h2>
      

    </div>
    <br>
    <hr>
  </div>
  
  <div class="container mx-auto mt-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      <div class="bg-white p-6 rounded-lg shadow-md flex flex-col">
        <h3 class="text-xl">Найдено скамеек: {{ benches.count }}, Всего {{ benchesAll }}</h3>
      
        <br>
        <form method="get" action="{% url 'benches:bench_list' %}" class="flex-grow flex flex-col">
            <label for="district">Район:</label>
            <select name="district" id="district">
              <option value="" selected>Все районы</option>
              <!-- Добавьте опции динамически на основе ваших районов -->
              {% for district in districts %}
                  <option value="{{ district.slug }}">{{ district.name }} (Всего {{ district.districtBenchesCount }})</option>
              {% endfor %}
          </select>
          
          <br>
          
          <label for="type">Тип</label>
          <select name="type" id="type">
              <option value="" selected>Все типы</option>
              <!-- Добавьте опции динамически на основе ваших типов -->
              {% for bench_type in bench_types %}
                  <option value="{{ bench_type.slug }}">{{ bench_type.name }} (Всего {{ bench_type.bench_typesCount }})</option>
              {% endfor %}
          </select>
          
            <br>
            <label for="has_bin">С урной (Найдено {{ hasBinNow }}, Всего {{ hasBinAll }})</label>
            <input type="checkbox" name="has_bin" id="has_bin" {% if request.GET.has_bin %}checked{% endif %} value="checked">
        
            <label for="has_backrest">Со спинкой (Найдено {{ hasBackrestNow }}, Всего {{ hasBackrestAll }})</label>
            <input type="checkbox" name="has_backrest" id="has_backrest" {% if request.GET.has_backrest %}checked{% endif %}>
            <br>
            <div class="flex-grow"></div> <!-- Этот элемент будет занимать все доступное пространство, поднимая кнопку вниз -->
            <div class="flex flex-row items-center">
              <button class="border-2 rounded-lg p-2 bg-blue-500 hover:bg-blue-300 transition duration-300 ease-in-out flex-grow">
                Показать
              </button>

              <a class="" href="{% url 'benches:bench_list' %}">
                <img class="h-12" src="{% static 'img/reset.png' %}" alt="">
              </a>

            </div>

            
        </form>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
              $(document).ready(function () {
                  // Восстанавливаем значения из локального хранилища
                  var selectedDistrict = localStorage.getItem('selectedDistrict');
                  var selectedType = localStorage.getItem('selectedType');
          
                  // Устанавливаем значения для select
                  $('#district').val(selectedDistrict);
                  $('#type').val(selectedType);
          
                  // Обработчик события для сохранения выбора пользователя
                  $('select').on('change', function () {
                      var selectedDistrict = $('#district').val();
                      var selectedType = $('#type').val();
          
                      localStorage.setItem('selectedDistrict', selectedDistrict);
                      localStorage.setItem('selectedType', selectedType);
                  });
              });
        </script>
        
        
    </div>
    
    
      
      {% for bench in benches %}
      <div class="bg-white p-6 rounded-lg shadow-md">

        <a href="{% url 'benches:bench_detail' bench.id %}" class="text-xl">Скамейка {{ bench.id }}</a>
        <p>Rating: {{ bench.rating }}</p>
        <p>
          {% for i in "0123456789"|slice:bench.get_rating %}
            ⭐
          {% endfor %}
        </p>
  
        <p class="lowercase">
          <a class="underline" href="#">{% trans 'Показать на карте' %}</a>,
          {{ bench.district.name }},
          {{ bench.environment.name }}
  
          {% if bench.has_backrest %}
            , {% trans 'со спинкой' %}
          {% elif bench.has_backrest %}
            , {% trans 'без спинки' %}
          {% endif %}
  
          {% if bench.has_bin %}
            , {% trans 'с урной' %}
          {% elif bench.has_bin %}
            , {% trans 'без урны' %}
          {% endif %}
  
          , {{ bench.type.name }}
  
        </p>
  
        <p>Добавил <a class="underline" target="_blank" href="{% url 'other_user_profile' bench.author.username %}">{{ bench.author.username }}</a> {% trans 'в' %} {{ bench.created_date|date:"G:i, j E Y"  }}</p>

        <img class="h-36" src="{{ bench.get_avatar_url }}" alt="">
      </div>
    {% endfor %}
    </div>
  </div>


{% endblock %}