{% load static tailwind_tags i18n %}
{% get_current_language as language_code %}


<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <link rel="stylesheet" src="{% static 'styles.css' %}">
    <title>
        {% block title %}{% endblock %} — {% trans 'Карта скамеек Алматы' %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="font-sans">
    <div class="header">
        {% include 'mySite/header.html' %}
    </div>
    <div class="main xl:ml-15 md:ml-10 ml-5">
        {% block content %}{% endblock %}
    </div>
    

</body>
</html>