{% load static %}
{% load static tailwind_tags %}
{% load i18n %}
{% get_current_language as language_code %}

<!DOCTYPE html>
<html lang="{{ language_code }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

    <title>
        {% block title %}{% endblock %} — {% trans 'Карта скамеек Алматы' %} 
    </title>

</head>
<body>
    <div class="header">
        {% include 'mySite/header.html' %}
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>
    
    <form id="language-form" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" style="display: none;">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
    </form>
</body>
</html>
