{% extends "mySite/base.html" %}
{% load static tailwind_tags i18n %}

{% block title %}index{% endblock %}

{% block content %}
<body class="bg-gray-50 leading-normal tracking-normal">
	<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full&skin=dark"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

	<div class="container width: 100vw; -mt-3.5 -ml-10">

		<div id="map" style="margin-left: 0px; width: 100vw;; height:86.5vh"></div>

	</div>
	
	<script type="text/javascript">
		var map;
	
		DG.then(function() {
					// загрузка кода модуля
					return DG.plugin('https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js');
				}).then(function() {
			
			map = DG.map('map', {
				center: [43.241025, 76.957485],
				zoom: 13
			});
	
			DG.control.location({position: 'bottomright'}).addTo(map);
			DG.control.scale().addTo(map);
			DG.control.ruler({position: 'bottomleft'}).addTo(map);
			DG.control.traffic().addTo(map);
	
			your_locationIcon = DG.icon({
						iconUrl: '{% static "img/your_location.png" %}',
						iconSize: [24, 24]
			});
	
			catec_collegeIcon = DG.icon({
						iconUrl: '{% static "img/catecCollege.png" %}',
						iconSize: [48, 24]
			});
			
			benchIcon = DG.icon({
				iconUrl: '{% static "img/bench.png" %}',
				iconSize: [24, 24]
			});

			{% for bench in benches %}
				var popup = `
				<div class="w-28 h-48">
					<p>Скамейка {{ bench.id }}</p> 
					<br/>
					<p>Рейтинг: {{ bench.rating }}</p>
					<a href="">
						<img class="w-28 h-16" src="{{ bench.get_avatar_url }}" alt="Фото скамейки">
					</a>
					
					<br/>
				</div>`;

				DG.marker(['{{ bench.location_latitude }}'.replace(',', '.'), '{{ bench.location_longitude }}'.replace(',', '.')], {
					icon: benchIcon
				}).addTo(map).bindPopup(popup);

			{% endfor %}

			DG.marker([43.241025, 76.957485], {
				icon: catec_collegeIcon
			}).addTo(map).bindPopup('Центральноазиатский технико-экономический колледж');
	
			map.locate({setView: true, watch: true})
						.on('locationfound', function(e) {
	
	
							DG.marker([e.latitude, e.longitude], {
								icon: your_locationIcon
							})
							.addTo(map)
							.bindLabel('Ваше местоположение!')
							.bindPopup(
								'<p>Вы находитесь здесь.');
						})
						.on('locationerror', function(e) {
							DG.popup()
							  .setLatLng(map.getCenter())
							  .setContent('Доступ к определению местоположения отключён')
							  .openOn(map);
						});
			
		});
	</script>



</body>


{% endblock content %}

