{% extends "mySite/base.html" %}
{% load static tailwind_tags i18n %}
{% block title %} №{{ bench.id }}{% endblock %}

{% block content %}
  <div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
    <h2 class="text-3xl font-bold mb-4">№{{ bench.id }}</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>
        <img src="{{ bench.get_avatar_url }}" alt="" class="mb-4 rounded-lg">
      </div>
      
      <div>
        <p class="text-lg font-bold">{% trans 'Состояние' %}</p>
        <div class="flex">
          {% for i in "0123456789"|slice:bench.get_rating %}
            ⭐
          {% endfor %}
        </div>

        <p class="text-lg font-bold mt-4">{% trans 'Координаты' %}:</p>
        <p>{% trans 'Широта' %}: {{ bench.location_latitude|floatformat:6 }}</p>
        <p>{% trans 'Долгота' %}: {{ bench.location_longitude|floatformat:6 }}</p>
        <br>

        <p class="text-lg font-bold mt-4">{% trans 'Дополнительная информация' %}:</p>
        <p>
            Спинка:&nbsp;&nbsp;
            {% if bench.has_backrest %}
                ✅
            {% elif bench.has_backrest %}
                ❌
            {% else %}
                ❔
            {% endif %}
        </p> 
        <p>
            Урна:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if bench.has_bin %}
                ✅
            {% elif bench.has_bin %}
                ❌
            {% else %}
                ❔
            {% endif %}
        </p>
        <p>{% trans 'Дата создания' %}: {{ bench.created_date }}</p>
        <p>{% trans 'Автор' %}: {{ bench.author.username }}</p>
        <p>{% trans 'Тип' %}: {{ bench.type.name }}</p>
        <p>{% trans 'Район' %}: {{ bench.district.name }}</p>
        <p>{% trans 'Окружение' %}: {{ bench.environment.name }}</p>
      </div>
      <div class="flex flex-col">
        <br>
        <a class="text-lg underline underline-offset-4" href="/" id="showOnMap">{% trans 'Показать на карте' %}</a>

        <script>
          document.getElementById('showOnMap').addEventListener('click', function() {
              // Сохраняем какие-либо данные, которые нужны на другой странице
              localStorage.setItem('isShow', 1);
              localStorage.setItem('benchLat', '{{ bench.location_latitude }}');
              localStorage.setItem('benchLon', '{{ bench.location_longitude }}');
          });
      </script>

        <br>
        <a class="text-lg underline underline-offset-4" href="https://yandex.kz/maps/ru/162/almaty/?ll={{ bench.location_longitude|floatformat:6 }}%2C{{ bench.location_latitude|floatformat:6 }}
        &mode=routes&rtext=~{{ bench.location_latitude|floatformat:6 }}%2C{{ bench.location_longitude|floatformat:6 }}&rtt=pd&ruri=~&z=18.08">{% trans 'Открыть в Яндекс Карта' %}х</a>
        <br>
        <a class="text-lg underline underline-offset-4" href="">{% trans 'Редактировать' %}</a>
        <br>
        <a class="text-lg underline underline-offset-4" href="">{% trans 'Поделиться' %}</a>
        
      </div>
      
      <div class="col-span-3">
        
        <p class="text-lg font-bold">{% trans 'Координаты' %}Описание:</p>
        <p>{{ bench.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
